#banner{
background:#99d6ff;	
color: #FF0000;
text-align: center;
margin-top: 200px;
height: 40px;

width : 100%;
}
#banner h4 {color: #5a5c5e;
	float: left;
	padding-top: 8px;
	padding-left: 8px;	
	letter-spacing: 2px;
}
#banner h1 { color: #5a5c5e;
margin-right: 10%;
text-align: center;
letter-spacing: 2px;

}

/* main banner on user Dashboard/profile/account and is on top*/

.banner{
background:#99d6ff;	
color: #FF0000;
text-align: center;
margin-top: 200px;
height: 40px;

width : 100%;
}
.banner h4 {color: #5a5c5e;
	float: left;
	padding-top: 8px;
	padding-left: 8px;	
	letter-spacing: 2px;
}
.banner h1 { color: #5a5c5e;
margin-right: 10%;
text-align: center;
letter-spacing: 2px;

}

/* Navigation Bar HCP*/
.menueHcp {
	left: 0;
	padding: 5px 0 5px 0; /* padding for menue looks good keep it*/
	text-align: center;
	line-height: 26px;
	background-color: lightblue;
	opacity: .7; 
	position: fixed;
	width: 100%;
	margin-top: -38px;	
}


.menueHcp li {		/* keep as is display menue inline */
	display: inline;
	padding: 0 20px 0 20px;
	font-size: 20px;
}

.menueHcp a {			/*keep as is seperates and formate menue text*/
	text-decoration: none;
	color: #fff;
	padding-top:8px;
	padding-bottom:8px;
	padding-right: 12px ;
	padding-left: 12px;
	font-variant: small-caption;
}



.menueHcp a:hover,
.menueHcp:focus {
			
			 
			
background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 4px #666;
					}



/* 3 actors/icons placing and styling*/
#iconContainer{
	Width: 42%;
	height: 220px;

	margin-left: 29%;
	margin-right: 29%;

	}
	
.iconPlacing {
	
	float: left;
	width: auto;
	height: 120px;
	margin-top: 40px;
	margin-right: 3px;
	margin-left: 3px;
	padding-right: 9px;
	padding-left: 9px;

}	
	
.multi-borderLogin{
	width: 153px;
	height:auto;
}	

	/* login page Actors*/

/* styling for form for users to update*/
	form{
	width: 400px;
	height: 300px;
	margin-top: 0%;
	float:left;
	display: none;
			}
			
	label{
		margin-left: 30px;
	}		
			

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"]
{
  height:30px;
  width:100%;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding: 0 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 30px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
}			
			
	input[type="radio"]
{
	width: 18px;
    height: 18px;
	margin-left: 30px;

}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-position 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
  transition: background-position 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}		
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}

.btn {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 3px 30px;
  padding: 6px 20px;
  font-size: 15px;
  line-height: 20px;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #00aeff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
}
 
.btn.active,
.btn:active {
  padding: 7px 19px 5px 21px;
}


.btn.disabled:active,
.btn[disabled]:active,
.btn.disabled.active,
.btn[disabled].active {
  padding: 6px 20px !important;
}

.btn:hover,
.btn:focus {
  background-color: rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.btn:active,
.btn.active {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.07);
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #098cc8;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  background-image: -webkit-linear-gradient(top, #0f9ada, #0076ad);
  background-image: linear-gradient(to bottom, #0f9ada, #0076ad);
  border: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.15) inset;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #21b0f1;
  color: #ffffff;
  border-color: transparent;
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}

.btn-primary:active,
.btn-primary.active {
  background-color: #006899;
  color: rgba(255, 255, 255, 0.7);
  border-color: transparent;
  box-shadow: inset 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover,
.btn-primary:focus {
  background-image: -webkit-linear-gradient(top, #37c0ff, #0097dd);
  background-image: linear-gradient(to bottom, #37c0ff, #0097dd);
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

//
/* position the current user information*/
table{
	width: 400px;
	height: 300px;
	margin-top: 0%;
	float:right;

	display: none;
	background-color: green;
}

h3 {
	float: right;
	padding-right: 40%;
	padding-top: 2%;
	color: white;
}
a.button {text-decoration: none;
	float: right;
	margin-right: 35%;
	margin-top:8%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 6px 20px;
  font-size: 15px;
  line-height: 20px;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #00aeff;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, background-color 0.2s, border-color 0.2s, color 0.2s;
}
.btn-block2 {
  display: block;
  width: 30%;
  padding-left: 0;
  padding-right: 0;
}